<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button default-href="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="listProductos()">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="servicio.irA('producto/0')">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar color="secondary" debounce="500" (ionInput)="listProductos()" placeholder="Buscar..." [(ngModel)]="texto"></ion-searchbar>
  <ion-list>
    <ion-item-sliding *ngFor="let item of productos" #ionItemSliding>
      <ion-item (click)="editProducto(item, ionItemSliding)">
        {{item.nombre}}
        <ion-badge slot="end">{{item.codigo}}</ion-badge>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="removeProducto(item, ionItemSliding)">
          <ion-icon name="trash-outline" aria-label="Remove"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
