ion-icon {
  font-size: 48px;
}

ion-card-content {
  text-align: center;
  cursor: pointer;
}

ion-card-title {
  font-size: 9px;
  text-align: center;
  cursor: pointer;
}

icon-card {
  cursor: pointer;
}
